doctype html
html(lang="en-US")
	head
		block head
			meta(charset="utf-8")
			meta(name="viewport" content="width=device-width, initial-scale=1")

			if title
				- let fullTitle = title + " — Pomorph"
				title #{fullTitle}
			else
				title Pomorph — A simple Pomodoro timer

			if desc
				meta(name="description" content=desc)
			else
				meta(name="description" content="Pomorph is a basic Pomodoro timer with an emphasis on simplicity and attempts at visual aesthetics.")
			
			//- Social TODO

			// Favicons
			link(rel="icon" href="/favicon.ico" sizes="any")
			link(rel="icon" href="/icon.svg" type="image/svg+xml")
			link(rel="apple-touch-icon" href="/apple-touch-icon.png")
			link(rel="manifest" href="/manifest.webmanifest")

			//- Fonts TODO

			// Styles
			link(rel="stylesheet" href="/styles/main.css")

			if script
				// Scripts
				script(src=script defer)
	body
		// SVG
		include ../includes/sprites.svg

		// Main
		main
			block content

		// Footer
		footer
			ul
				li #[a(href="/") Home]
				li #[a(href="/changelog") Changelog]
				li #[a(href="/about") About]
