//====================
// VARIABLES
//====================

// == BREAKPOINTS == //
$breakpoints: (
	"large": 720px
);

// == TYPOGRAPHY == //
// Font stacks
$fs-mono: "Space Mono", Monaco, Courier, monospace;
$fs-sans: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
