//====================
// VARIABLES
//====================

// == BREAKPOINTS == //
$max-width: 720px;
$readable-width: 548px;

$breakpoints: (
	"medium": 420px,
	"large": 752px
);

// == TYPOGRAPHY == //
$root-size: 10px;

// Font stacks
$fs-mono: "Space Mono", Monaco, Courier, monospace;
$fs-sans: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

// == COLOR == //
$shadow: rgba(#5c5c5c, .2);
