extends ./_includes/layouts/base.pug

block prepend head
	- const title = "About"
	- const desc = "Learn more about the thinking behind Pomorph, its features, and how to use it."

block content
	p TODO
