extends ./_includes/layouts/base.pug

block prepend head
	- const title = "About"
	- const desc = "Learn more about the thinking behind Pomorph, its features, and how to use it."

block content
	main.about.container.content
		div.about__inner.container.container_readable
			// Intro
			h1.about__heading pomorph: a simple pomodoro timer

			hr.about__hr-wave

			p.about__intro-para Conceived as a final project for #[a(href="https://cs50.harvard.edu/x/") CS50x], Pomorph is my attempt at making a cute, basic pomodoro timer. #[a(href="https://www.hometownpixel.com/") I’m Sean, by the way.]

			p Pomorph aims to be somewhat consistent with the traditions of the #[a(href="https://en.wikipedia.org/wiki/Pomodoro_Technique") Pomodoro Technique] while being a little more flexible. As I make the journey to get better at both design and web development, Pomorph will probably grow and change. However, the emphasis will mostly be on simplicity and #[em attempts] at visual aesthetics.

			p My hope is that Pomorph will be a fun way for you to implement the Pomodoro Technique in your own life.

			p Thanks for stopping by and giving Pomorph a spin!

			p Sounds courtesy of RCP Tones' #[a(href="https://rcptones.com/dev_tones/") Dev_Tones free samples.]

			// Features
			div.features
				div.features__heading-container
					h2.features__heading Features
					hr.features__hr-wave

				ul.features__list
					li.features__item Set desired work, short break, and long break intervals (supports 1-55 minutes). Pomorph will remember your last used time for each.
					li.features__item Play, pause, and stop a session
					li.features__item Toggle optional sound effects
					li.features__item Keep track of your stats
					li.features__item Client-side. No server-side database, just local storage in your browser. (#[strong Note:] clearing your browser cache will reset your settings and stats.)

				div.features__bottom
					hr.features__hr-wave

			// How to use
			div.how-to-use
				h2.how-to-use__heading How to use

				p.how-to-use__intro Here are the basics:

				ol.how-to-use__list
					li.how-to-use__item Choose whether you want to work or take a break by flipping the work/break toggle
					li.how-to-use__item Optionally set desired work or break time by tapping the time value. Pomorph will remember the time you enter after you begin a session. Default times for each type of session can also be overridden in the settings.
					li.how-to-use__item After the interval, depending on whether you chose a work/break session, Pomorph will automatically switch to the opposite session. You can do another break or work session by flipping the work/break toggle again. Your call.
					li.how-to-use__item Whatever you decide, Pomorph will track the number of work sessions you've completed. After the fourth work interval, Pomorph will switch to a break session and default to a longer break break time. Whether you choose to take a break or toggle back to a work session, Pomorph will reset the session indicator once the fifth work interval is started, and the cycle will begin again.

				p #[strong Note:] Don't forget to toggle sound effects, gaze upon your stats, and check out the settings.

			// Support
			div.support
				h2.support__heading Support

				p If you need any help, have ideas about how Pomorph can be better, or encounter any problems, don't hesitate to #[a(href="https://www.hometownpixel.com/contact/") get in touch]. Lot's of bugs? Feel free to check out the #[a(href="https://github.com/hometownpixel/pomorph.com") source code on GitHub] too (sorry, I'm a beginner and have so much to learn).
