extends ./_includes/layouts/base.pug

block prepend head
	- const title = "Changelog"
	- const desc = "The history of notable changes to Pomorph."

block content
	main.container.container_readable
		//- Filter from jstransformer-markdown-it package
		//- https://pugjs.org/language/filters.html
		:markdown-it()
			TODO
