extends ./_includes/layouts/base.pug

block prepend head
	- const script = "app.js"

block content
	h1 TODO

	svg(viewbox="0 0 240 57.2989")
		use(xlink:href="#pomorph")

	each icon in ["#icon-settings", "#icon-sound", "#icon-sound-off", "#icon-stats", "#icon-play", "#icon-stop", "#icon-reset", "#icon-close"]
		svg(viewbox="0 0 0 32 32")
			use(xlink:href=icon)
