//====================
// CONTAINER
//====================

.container {
	margin: 0 auto;
	max-width: $max-width;
	padding-left: 1.6rem;
	padding-right: 1.6rem;

	// Remove padding at larger screen size
	@include mq(large) {
		padding-left: initial;
		padding-right: initial;	
	}
}

.container_readable {
	padding-left: initial;
	padding-right: initial;
	max-width: $readable-width;
}
