//====================
// CSS VARIABLES
//====================

// Color names are taken from ColorSlurp's AI naming conventions (at least I think ColorSlurp is using an AI for the names...).
// https://colorslurp.com/

:root {
	// Tints and shades from the white to black spectrum
	--white: #fff;
	--wild-sand: #f4f4f4;
	--mercury: #e6e6e6;
	--silver: #b9b9b9;
	--gray: #808080;
	--scorpion: #5c5c5c;
	// Time value for total sub-dial
	--subdial-seconds: 120s;
	--animation-play-state: paused;
}
