//====================
// GENERAL
//====================

::selection {
	background-color: var(--color-secondary);
	color: var(--white);
}

html {
	// Set root font size — stake in the ground from which rem sizes are based
	font-size: $root-size;
}

// Set default background and foreground colors
body {
	background: var(--color-primary);
	color: var(--mercury);

	@include mq(large) {
		padding-top: 2.4rem;
	}
}

.content {
	padding-top: 4rem;
}

// Use to hide features/functionality depending on desired state
.hidden {
	display: none !important;
}

// Use to show which items are clickable depending on their state
.clickable {
	cursor: pointer;
}
