//====================
// THEMES
//====================

.theme--default {
	// bittersweet
	--theme-color--primary: #fa7465;
	// medium carmine
	--theme-color--secondary: #ae4337;
}

.theme--break {
	// malibu
	--theme-color--primary: #65a1fa;
	// azure
	--theme-color--secondary: #3767ae;
}
