//====================
// THEMES
//====================

.theme-default {
	// bittersweet
	--color-primary: #fa7465;
	// medium carmine
	--color-secondary: #ae4337;
}

.theme-break {
	// malibu
	--color-primary: #65a1fa;
	// azure
	--color-secondary: #3767ae;
}
