//====================
// THEMES
//====================

.theme-default {
	// bittersweet
	--color-primary: #fa7465;
	// medium carmine
	--color-secondary: #ae4337;
	--icon-wave: url("data:image/svg+xml;utf8,<svg id='wave' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M0,14.1846c2.2499,0,4.4999-.7282,6-2.1846,3.0003-2.9129,9.0007-2.9129,12,0,1.5,1.4563,3.75,2.1845,6,2.1846' fill='none' stroke='%23ae4337' stroke-miterlimit='10' stroke-width='2'/></svg>");
}

.theme-short-break {
	// conifer
	--color-primary: #9bd945;
	// wasabi
	--color-secondary: #6a942f;
	--icon-wave: url("data:image/svg+xml;utf8,<svg id='wave' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M0,14.1846c2.2499,0,4.4999-.7282,6-2.1846,3.0003-2.9129,9.0007-2.9129,12,0,1.5,1.4563,3.75,2.1845,6,2.1846' fill='none' stroke='%236a942f' stroke-miterlimit='10' stroke-width='2'/></svg>");
}

.theme-long-break {
	// malibu
	--color-primary: #65a1fa;
	// azure
	--color-secondary: #3767ae;
	--icon-wave: url("data:image/svg+xml;utf8,<svg id='wave' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M0,14.1846c2.2499,0,4.4999-.7282,6-2.1846,3.0003-2.9129,9.0007-2.9129,12,0,1.5,1.4563,3.75,2.1845,6,2.1846' fill='none' stroke='%233767ae' stroke-miterlimit='10' stroke-width='2'/></svg>");
}
